.cadDoc-Titulo {
  font-size: var(--fonte-extra-grande);
  margin: 5px 0 0 0;
  position: relative;
  text-align: center;
}

.cadDoc-Linha {
  background-color: var(--cor-azul-linha);
  border-radius: var(--border-radius-pequeno-linha);
  height: 5px;
  margin: 0 auto 10px auto;
  width: 30%;
}

.cadDoc-prontuario {
  background-color: var(--cor-fundo-claro-cinza);
  border-radius: var(--border-radius-medio);
  max-width: 80%;
  margin: 0 auto;
  padding: 40px;
}