.container-gerenciamento {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.sem-config {
    text-align: center;
}

.sem-config button {
    margin-top: 10px;
    color: var(--cor-texto-branco);
    border: none;
    background-color: var(--cor-azul-escuro);
    font-size: var(--fonte-pequena);
    cursor: pointer;
    padding: 5px 12px;
    border-radius: var(--border-radius-medio-grande);
}

.sem-config button:hover {
    background-color: var(--cor-azul-escuro-hover);
}