* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0D42BD;
}

.novo-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
}

.novo-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    min-width: 300px;
}

.novo-texto-titulo {
    color: white;
    font-size: 48px;
    padding-bottom: 20px;
    background: none;
    text-align: center;
    z-index: 100;
}

.novo-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.novo-texto-sem-conta {
    color: white;
    font-size: 16px;
    background: none;
    z-index: 2;
}

.novo-link {
    text-decoration: none;
    color: white;
}

.novo-link:hover {
    color: aquamarine;
}

.nova-linha-vertical {
    width: 2px;
    height: 85vh;
    background-color: white;
}

.novo-right-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    height: 85vh;
    min-width: 300px;
}

.nova-imagem-login {
    width: 700px;
    height: 450px;
    max-width: 100%;
    height: auto;
}

.nova-marca-dagua {
    position: fixed;
    bottom: 1px;
    left: 10px;
    width: 500px;
    opacity: 0.15;
    z-index: 1;
    pointer-events: none;
    max-width: 50%;
}

@media (max-width: 768px) {
    .novo-login-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .novo-left-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .nova-linha-vertical, 
    .nova-imagem-login,
    .nova-marca-dagua {
        display: none;
    }
}

@media (max-width: 480px) {
    .novo-texto-titulo {
        font-size: 28px;
    }

    .novo-login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}