.botao-avaliar-card-avaliacao {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 8rem;
    border: solid 2px #A1A1A1;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.link-sem-estilo {
    color: inherit;
    text-decoration: none;
}

.text-avalia {
    color: #0D42BD;
    margin: 1rem;
    font-size: 18px;
}

.div-avlie-ja {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.div-avlie-ja img {
    width: 5%;
}

.titulo-botao {
    font-size: 20px;
}