.fundo {
  background-color: var(--cor-fundo-cinza);
}

.listagemDocumentos {
  max-width: 80%;
  margin: 0 auto;
  padding: 24px 2rem 2rem 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.documentoTittle {
  margin: 0;
  font-size: var(--fonte-grande);
}

.botaoVerMais {
  padding: 5px 12px;
  font-size: var(--fonte-pequena);
  color: var(--cor-texto-branco);
  background-color: var(--cor-azul-escuro);
  text-decoration: none;
  border: none;
  border-radius: var(--border-radius-medio-grande);
  cursor: pointer;
}