.div-solicitao-documento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    min-height: 100vh;
    width: 100%;
}

.invisivel {
  visibility: hidden;
}

.div-h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-h1 hr {
    border: solid 1px var(--cor-azul-principal);
}

.listagem-documentos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.div-documentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap:2rem;
}

.button-solicitar {
    width: 8%;
    height: 2.5rem;
    border-radius: var(--border-radius-pequeno-linha);
    background-color: var(--cor-azul-botao);
    color: var(--cor-texto-branco);
    font-size: 1rem;
}

.button-solicitar:hover {
    cursor: pointer;
}

.button-solicitar:active {
    background-color: var(--cor-azul-escuro-hover);
}