.card-avaliacao {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 9rem;
  border: 2px solid #a1a1a1;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.nota-card-avaliacao {
  font-size: 4rem;
}

.detalhes-card-avaliacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detalhes-card-avaliacao img {
  background-color: #f3f4f6;
}