.sessao-antiga {
    padding: 24px;
    border-radius: 10px;
    width: 100%;
    max-width: 80%;
    margin: 0px auto 0 auto;
}

.Card-Container{
    display: grid;
    grid-template-columns: repeat(2, 700px);
    gap: 32px;
    justify-content: space-between;
    margin-top: 16px;
}

.sessao-antiga-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
  
.botao-ver-mais {
    color: white;
    border: none;
    background-color: #0044cc;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 10px;
}
  
.sessao-antiga-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
  
.sessao-antiga-info {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 12px;
}
  
.sessao-antiga-foto {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    object-fit: cover;
}
  
.sessao-antiga-textos p{
    background-color: white;
}
  
.sessao-antiga-nome {
    font-weight: bold;
    font-size: 16px;
}
  
.sessao-antiga-detalhes p{
    background-color: white;
    text-align: left;
    font-size: 14px;
}
  
.sessao-antiga-pagamento {
    background-color: white;
    text-align: right;
    font-size: 14px;
    min-width: 120px;
}
  
.sessao-antiga-pagamento p,strong{
    background-color: white;
}
  
.sessao-antiga-status {
    display: inline-block;
    width: 100%;
    margin-top: 6px;
    padding: 6px 0;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    text-align: center;
}
  
.sessao-antiga-status.em-aberto {
    background-color: #a9a9a9;
}
  
.sessao-antiga-status.pago {
    background-color: #2e7d32;
}
  
.sessao-antiga-status.cancelado {
    background-color: #b71c1c;
}

.CardDisposition{
    display: flex;
    gap: 24px;
}